<h1>Heroes Unite!</h1>
<h2>Team</h2>
<h4>Name: <%= @team.name %> </h4><br>
<h4>Motto: <%= @team.motto %></h4><br>


<h2>Members<h2><br>
<% @heroes.each do |hero| %>
<h4>Name: <%= hero.name %> </h4><br>
<h4>Type: <%= hero.type %></h4><br>
<h4>Booty: <%= hero.booty %></h4>
<% end %>


